spring:
  datasource:
    url: jdbc:mysql://localhost:3306/module_3_db
    username: root
    password: ~Root5420~
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
security:
  jwt:
    secret-key: Betterl@teth@nnever.